<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" />
  <package id="Microsoft.EntityFrameworkCore" version="5.0.10" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="5.0.10" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="5.0.10" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="5.0.10" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.2" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" />
  <package id="Npgsql" version="5.0.10" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="5.0.10" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="5.0.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="4.6.0" />
  <package id="System.Text.Json" version="4.6.0" />
  <package id="System.Threading.Channels" version="4.7.0" />
</packages>